.editor-container {
    position: relative;
    overflow: visible;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    gap: 8px;
    > * {
        border-radius: 8px;
    }
}
