@use '../../../../../../../styles/colors' as *;

.project-settings-dropdown {
    width: max-content;

    &__section {
        margin: 6px 0 12px;
        display: flex;
        flex-direction: column;
        gap: 4px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    span {
        width: 100%;
        text-align: end;
        padding: 2px;
        color: $gray-10;
        &:hover {
            color: $gray-10;
            cursor: pointer;
            background: $gray-50;
        }
    }
}
